// Nova Tool CSS

@media (max-width: 992px){
	.h-header{
		display: none !important;
	}
	.content{
		padding-top: 0 !important;
		.relative{
			.text-2xl{
				display: none !important;
			}
		}
	}

	button[type=submit]{
		display: none !important;
	}
	
	.unsplash{
		height: 250px;
	}

	.timetracker{
		margin-bottom: -40px;
		margin-left: -2rem;
	    margin-right: -2rem;
	    margin-top: -2rem;
	}

	form > .flex > button {
	    margin-bottom: 10px;
	    width: 100%;
	    display: flex;
	    justify-content: center;
	}
}